doctype html
html
  head
    block head
      meta(charset='UTF-8')
      meta(name='viewport' content='width=device-width, initial-scale=1.0')
      link(rel='stylesheet' href='/css/style.css')
      link(href='https://fonts.googleapis.com/css?family=Lato:300,300i,700' rel='stylesheet')
      link(rel='shortcut icon' type='image/png' href='/img/favicon.png')
      title Natours | #{!title ? 'Exciting tours for adventurous people': title }
  body
    // HEADER
    include _header
    // MAIN CONTENT
    block content
      h1 This is the Placeholder Heading
    // FOOTER
    include _footer
    //- script(src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js')
    //- script(src='/js/updateSettings.js' defer)
    script( src='https://js.stripe.com/v3/')
    script(src='/js/bundle.007d307d364991b6bf4a.js' defer)